[Unit]
Description=Apply privacy schedule every minute

[Timer]
OnBootSec=60
OnUnitActiveSec=60
Unit=privacypi-schedule.service

[Install]
WantedBy=timers.target
